# Python
__pycache__/
*.pyc
venv-robotour/

# VS Code metadata
.vscode/
*.code-workspace

# Logs
*.log
logs/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

#c++
**/bin/
**/build/
server/robot_lidar_tcp

# archyves
*.zip
*.geojson
*.graphml

# point perfect
gnss/point_perfect/*.txt
gnss/point_perfect/*.ubx

# env data
**/.env

# chace
**/cache/
osm/prototype/cache/
cache/